name: Deploy Spring Boot Backend to Azure

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - run: |
          mvn clean package -DskipTests
          zip -j app.zip target/*.jar

      - uses: azure/webapps-deploy@v2
        with:
          app-name: simpleuserservice-eqg5a5a9frd5a5ca
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
          package: app.zip